{% extends 'base_index.html' %}

{% block title %}{{title}}{% endblock %}



{%block h1 %}<h1>{{ title }}</h1>{% endblock %}

{% block menu %}
<!-- Горизонтальное меню -->
<div class="container-fluid bg-light py-2 container-fluid-menu">
    <div class="row">
      <div class="col">

          <a href="{% url 'dashboard_menu' place_id %}" class="btn btn-info">Главная</a>

      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<h2>Как пролистнуть страницу</h2>
<h2>Как пролистнуть страницу</h2>
<h1>Редактировать блюдо</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% comment %}
    {{ form.as_p }}
    {%endcomment%}

    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        <div class="invalid-feedback">
            {{ field.errors }}
        </div>
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
</form>

{% endblock %}