
<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button">
      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
    </button>
    <button class="btn btn-outline-success me-2" type="button">
      <a class="nav-link active" aria-current="page" href="{% url 'add_dishes' %}">Добавить</a>
    </button>

    <!-- Выводит категории -->
    {% for item in categories %}
    {% ifchanged item.category %}
    <button class="btn btn-sm btn-outline-secondary" type="button">
      <a class="nav-link active" aria-current="page" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
    </button>
    {% endifchanged %}
    {% endfor %}

    {% if user.is_authenticated %}
    <li class="last">{{user.username}}</li><button class="btn btn-info" type="button">
      <a class="nav-link active" aria-current="page" href="{% url 'users:logout' %}">Выйти</a>
    </button>
    {% else %}
    <button class="btn btn-danger" type="button">
      <a class="nav-link active" aria-current="page" href="{% url 'users:login' %}">Войти</a>
    </button>
    <button class="btn btn-warning" type="button">
      <a class="nav-link active" aria-current="page" href="{% url 'users:login' %}">Регистрация</a>
    </button>
    {% endif %}
  </form>
</nav>